<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Peaux&Cuirs: Votre maroquinier est là pour concevoir des articles en cuir sur mesure et restaurer tout type d'objets qui auraient été abîmés par le temps. N'hésitez pas à nous contacter." />
		<link
			rel="shortcut icon"
			href="favicon.ico"
			type="image/x-icon" />
		<link
			rel="stylesheet"
			href="style.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="container-success">
			<div class="success">
				<h2>Merci</h2>
				<p>Vôtre de demande de contat a bien été envoyer et seras traiter dans les plus bref délai</p>
				<a href="index.html">Retour au site</a>
			</div>
		</div>
	</body>
</html>
